.avatar {
    width: 35px;
    height: 35px;
    border-radius: 25%;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 0.9rem;
}

.avatar_img {
    width: 40px;
    height: 40px;
}